h1 HELP CENTER
h4 How do I sign up?
p Signing up is easy. Just click
=<> link_to "here", new_user_registration_path

h4 I can't find what I'm looking for?
p So sorry. As a new platform, it'll take some time to get all the businesses to hear about us. Hang tight! Please share with you friends that they should join the platform. That will help!
p We get information about you in a range of ways.

h4 Do you have other features coming soon?
p Absolutely! This is our first release and we hope to add features soon that will truly impact your life and make life easier.
=<> link_to "Contact us", '#'
|and tell us what you want to see.

h4 How do I sign up as a business or product?
p That's easy. Click
=<> link_to "here", '#'
|.
