//Base//

.homepage {
	background: asset-url("afrolink_homepage_image.jpg") no-repeat center center;
	background-size: cover;
}

body {
    font-size: 12px;
    line-height: 1.5em;
    background-color: #f8f8f8;
}

.inline {
	display: inline;
}

#uppercase {
	text-transform: uppercase;
}

.inline {
	display: inline;
}
