//Base//

.homepage {
	background: asset-url("afrolink_homepage_image.jpg") no-repeat center center;
	background-size: cover;
}

.landing {
  background: asset-url("landing.png") no-repeat center center;
  background-size: cover;
}

body {
    font-size: $baseFontSize;
    line-height: 1.5em;
    background: #f8f8f8 asset-url("texture.png") repeat 0 0;
}

.inline {
	display: inline;
}

#uppercase {
	text-transform: uppercase;
}

.inline {
	display: inline;
}
