//Variables//

//Base//
$baseFontSize:12px;
$base-font-family: HelveticaNeue;
$link-highlight: #4bd7bd;
$secondary-color:#6d6d6d;

//Home Page//
$bg-dark: rgba(42, 42, 42, 0.8);
$bg-grey: rgba(185,185,185,0.8);
$green-button: #55a144;
$green-border: #174701;

