//Section About//
.section-about {
	margin-bottom: 80px;
	font-size: 13.5px;
	.container {
		color: #6b6b6b;
		line-height: 20px;
		margin-bottom: 90px;

		h3 {
			font-family: 'Lato', sans-serif;
			padding: 20px 0 20px 0;
			font-weight: 700;
		}
		.indent {
			padding-left: 40px;

			h4 {
				font-family: 'Lato', sans-serif;
				font-weight: 700;
				margin-bottom: 3px;
			}

			p {
				font-family: 'Open Sans', sans-serif;
				font-weight: 300;
				text-align: justify;
				margin-bottom: 20px;
				@include link (#6b6b6b, $link-highlight, #2bc4a7, $link-highlight);
			}
		}

	}

	.text-center {
		font-weight: bold;
		padding-right: 35px;
		@include link (#6b6b6b, #6b6b6b, #2bc4a7, $link-highlight);
		a {
			padding-right: 1px;
		}
	}
}
