//User's Business Listing//
.section-businesses {
	height: 1500px;
	margin-top: 50px;

	h2 {
		margin-bottom: 50px;
	}

	.business-avatar {
		padding: 60px 0 60px 0;
		img {
			padding-right: 15px;
		}

		p {
			color: #757575;
			font-size: 14px;
		}

	}

	.col-md-4 {
		margin-bottom: 48px;

		img {
			margin-bottom: 7px;
		}

		a {
			padding: 15px 0 0 15px;
			color: #757575;
			font-weight: bold;
			font-size: 24px;
		}
	}
}