//Section Help//
.section-help {
	font-size: 13.5px;
	.container {
		color: #6b6b6b;
		line-height: 20px;
		margin-bottom: 60px;

		h3 {
			padding: 20px 0 20px 0;
		}
		.indent {
			padding-left: 40px;

			h4 {
				margin-bottom: 3px;
			}

			p {
				margin-bottom: 20px;
				@include link (#6b6b6b, $link-highlight, #2bc4a7, $link-highlight);
			}
		}
		
	}

	.text-center {
		font-weight: bold;
		padding-right: 35px;
		@include link (#6b6b6b, #6b6b6b, #2bc4a7, $link-highlight);
		a {
			padding-right: 1px;
		}
	}
}