//Section Help//
.section-help {
	font-size: 13.5px;
	.container {
		color: #6b6b6b;
		line-height: 20px;
		margin-bottom: 60px;

		h3 {
			padding: 20px 0 20px 0;
		}
		.indent {
			padding-left: 40px;

			h4 {
				margin-bottom: 3px;
			}

			p {
				text-align: justify;
				margin-bottom: 20px;
				@include link ($link-highlight, $link-highlight, #2bc4a7, $link-highlight);
			}
		}

	}
}
