//Landing Page//
html {
  position: relative;
  min-height: 100%;
}

body{
  padding: 0;
  width: 100%;
  height: 100%;
}

.alert {
  border: 0;
  padding: 5px;
  background-color: rgba(42, 42, 42, 0.8);
  color: #fff;
}

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;

  li {
    padding: 5px;
  }
}

.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: 8px;
  color: #fff;
}

.landing_page {
  display: table;
  position: relative;
  width: 100%;
  height: 400px;
  margin-bottom: 160px;
  .text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    //Call To Action//
    .section-callToAction {
      font-family: avantgardemditc-bold;
      margin: 1.5% 0;

      h2 {
        font-size: 5.5vw;
        color: #757575;
        margin-bottom: 3px;
        @media (max-width: 767px) {
          font-size: 14.5vw;
        }
      }

      h3 {
        font-family: 'Open Sans', sans-serif;
        color: #757575;
        font-size: 2.67vw;
        font-weight: 300;
        @media (max-width: 767px) {
          font-size: 5.9vw;
        }
      }
    }

    //Landing Page Form//
    .section-landing {
      height: 164px;
      @media (max-width: 480px) {
        margin-bottom: 84px;
      }

      .container {
        margin-top: 5px;

        .col-md-3 {
          padding: 0 9px;

          @include placeholder {
            color: #979797;
          }

          .form-control {
            background-color: #fff;
            color: #000;
            font-size: 16px;
            border: 1.7px solid #b0b0b0;
            border-radius: 0px;
            display: inline;
            margin-top: 19px;
          }
        }

        .input-landing {
          height: 49px;
          padding-left: 25px;
        }
        .input-group-btn {
          width: 100%;
          .btn {
            margin-left: -7px;
            margin-top: 15px;
            font-size: 16px;
            background-color: $green-button;
            border: none;
            color: #fff;
            padding: 13.5px 50px;
            border-bottom: 2px solid $green-border;
            @include border-radius(3px);
            @media (max-width: 767px) {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}
