.section-list-business-form {
	height: 650px;
	padding-top: 50px;
	.container {
		width: 550px;

		h5 {
			color: #505050;
			margin-bottom: 30px; 
			font-weight: bold;
		}

		.line {
			border: 1px solid #f4f4f4;
			width: 530px;

		}

		.container-fluid {
			margin-top: 18px;

			label {
				color: #505050;
				margin-top: 12px;
			}

			input {
				background-color: #f6f6f6;
				border-color: #dfdfdf;
				box-shadow: none;
			}

			select {
				background-color: #f6f6f6;
				border-color: #dfdfdf;
				color: #a5a5a5;
				box-shadow: none;
			}

			textarea {
				background-color: #f6f6f6;
				border-color: #dfdfdf;
				color: #a5a5a5;
				box-shadow: none;
			}

			button {
				background-color: #00b8ac;
				border-color: transparent;
				background: #00b8ac;
				box-shadow: none;
				font-size: 11px;
				margin: 30px 0 111px 0;
				padding: 10px 45px;
				border-radius: 35px;

			@include link(#fff, #fff, #fff, #fff);
			}
		}
	}
}