//Navigation//

//Primary Navigation - Homepage//
.navbar-default {
	margin-top: 0.5%;
	margin-bottom: 3%;
	background-color: transparent;
	border-color: transparent;
	border: 0px;
	background: transparent;
	box-shadow: none;
	@media (max-width: 767px) {
		margin-bottom: 15.5%;
	}

	.navbar-header {
		@media (max-width: 767px) {
			.navbar-brand {
				padding: 0;
			}

			.navbar-brand img {
				margin-top: 5px;
				margin-left: 5px;
			}
		}
	}

	.navbar-collapse {
		padding-top: 3%;
		border-color: #fff;
		@media (max-width: 767px) {
			background-color: rgba(185,185,185,0.8);
		}
	}

	.navbar-toggle {
		margin-top: 22px;
		.icon-bar {
			background-color: #fff;
		}
	}

	.navbar-nav {
		>li >a {
			color: #fff;
			text-shadow: none;
			&:hover, &:focus {
				color: $link-highlight;
				background-color: transparent;
			}
		}
		.open {
			.dropdown-menu > li > a {
				color: #fff;
				height: 250%;
			}
		}
		.open >a {
			background-color: transparent;
			background: transparent;
			box-shadow: none;
			&:hover, &:focus {
				color: #fff;
				background-color: transparent;
			}
		}
	}

	.user {
		a {padding: 8px 5px 0px 7px;}
		img {padding-right: 8px;}
	}

	.caret {
		margin-left: 13px;
	}
}

.dropdown-menu {
	margin-right: -91px;
	border-top-color: #fff;
	background-color: $bg-dark;
	font-size: 12px;
	padding: 15px 0px 15px 0px;

	>li >a {
		color: #fff;
		&:hover, &:focus {
			color: $link-highlight;
			background-image: none;
			background-color: transparent;
		}
	}
	.caret {
		color: #fff;
		margin-top: -27px;
		margin-left: 45px;
		transform: rotate(180deg);
	}
}
//Primary Navigation - User Profile//
.user-profile-nav {
	.navbar-brand {
		img {
			content: asset-url('Logo_All_Black.png');
		}
	}

	.navbar-collapse {
		padding-top: 3%;
		border-color: #6b6b6b;
		@media (max-width: 767px) {
			background-color: rgba(185,185,185,0.8);
		}
	}

	.navbar-toggle {
		margin-top: 22px;
		.icon-bar {
			background-color: #6b6b6b;
		}
	}

	.navbar-nav {
		>li >a {
			color: #757575;
			&:hover, &:focus {
				color: $link-highlight;
			}
		}

		.open {
			.dropdown-menu > li > a {
				@media (max-width: 767px) {
					color: #757575;
				}
			}
		}

		.open > a:hover, a:focus {
			color: #757575;
			background-color: transparent;
		}
	}
}
.navbar-default .navbar-nav .open > a:hover, .navbar-default .navbar-nav .open > a:focus {
	color: #757575
}

//Secondary Navigation//
.navbar-secondary {
	background-color: #383838;
	background: #383838;
	border-radius: 0px;
	.navbar-nav {
		padding-top: 0;
		>li >a {
			background-color: transparent;
			&:hover, &:focus {
				background-color: #787878;
			}
		}
	}
}

//Modal//

//Signup Modal//
.signup {
	.modal-dialog {
		margin-top:  100px;
		.modal-content {
			background-color: #333334;

			.modal-header {
				border-bottom: 1px solid #373638;
				.modal-title {
					color: #fff;
					padding: 20px 0 20px 0;
				}
				.close {
					margin-top: -50px;
					color: #808080;
					text-shadow: 0 0 0 #808080;
					width: 20px;
					height: 27px;
					padding: 0 2.5px;
					font-size: 25px;
					border-radius: 15px;
					//border: 3px solid #808080;
				}
			}
			.modal-body {
				padding: 37px 50px 15px;
				@media (max-width: 767px){
					padding: 15px;
				}
				.form-control {
					height: 44px;
					background-color: #3c3c3e;
					border: none;
					color: #fff;
				}

				@include placeholder {
					color: #fff;
				}

				label {
					color: #808080;
					display: block;
					padding-top: 25px;
				}
			}

			.modal-footer {
				border-top: 0px solid #373638;
			}
			.btn {
				background-color: #23a55a;
				border-color: transparent;
				background: #23a55a;
				box-shadow: none;
				font-size: 12px;
				margin: 30px 0 15px 0;
				padding: 10px 25px;
				border-radius: 35px;

				@include link (#fff, #fff, #fff, #fff);
			}

			.signup-confirm {
				color: #a5a5a5;
				padding: 15px 0;
				a {
					color: #a5a5a5;
					display: inline-block;
				}
			}
		}
	}
}

//Login Modal//
.login {
	.modal-dialog {
		margin-top:  100px;
		.modal-content {
			background-color: #333334;

			.modal-header {
				border-bottom: 1px solid #373638;
				.modal-title {
					color: #fff;
					padding: 20px 0 20px 0;
				}
				.close {
					margin-top: -50px;
					color: #808080;
					text-shadow: 0 0 0 #808080;
					width: 20px;
					height: 27px;
					padding: 0 2.5px;
					font-size: 25px;
					border-radius: 15px;
					//border: 3px solid #808080;
				}
			}
			.modal-body {
				padding: 18px 50px 15px;
				@media (max-width: 767px){
					padding: 15px;
				}

				.form-control {
					margin-top: 23px;
					height: 44px;
					background-color: #3c3c3e;
					border: none;
					color: #fff;
				}

				@include placeholder {
					color: #fff;
				}

				label {
					color: #808080;
					padding-top: 20px;
					padding-left: 10px;
				}
			}

			.modal-footer {
				border-top: 0px solid #373638;
			}
			.btn {
				background-color: #23a55a;
				border-color: transparent;
				background: #23a55a;
				box-shadow: none;
				font-size: 12px;
				margin: 26px 0 15px 0;
				padding: 10px 35px;
				border-radius: 35px;

				@include link (#fff, #fff, #fff, #fff);
			}

			.login-confirm {
				color: #808080;
				padding: 15px 0;
				a {
					color: #808080;
					display: inline-block;
				}
			}
		}
	}
}



