//Section Privacy//
.section-privacy {
	font-size: 13.5px;
	.container {
		color: #6b6b6b;
		line-height: 20px;
		padding-right: 220px;
		margin-bottom: 60px;

		h3 {
			padding: 20px 0 20px 0;
		}
		.indent {
			padding-left: 40px;

			h5 {
				font-weight: bold;
				margin-bottom: 15px;
			}

			p {
				margin-bottom: 20px;
				@include link (#6b6b6b, #4bd7bd, #2bc4a7, #4bd7bd);
			}
		}
		
	}

	.text-center {
		font-weight: bold;
		padding-right: 35px;
		@include link (#6b6b6b, #6b6b6b, #2bc4a7, #4bd7bd);
		a {
			padding-right: 1px;
		}
	}
}