.section-sessions {
	font-family: 'Lato', sans-serif;
	@include link (#fff, #fff, #fff, #fff);

	.panel {
		margin: 25px 0 100px 0;
		background-color: #333334;
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

		.panel-body {
			padding: 15px 0;
		}
	}

	.form-group-left {
		margin-left: 30px;
	}

	.form-control {
		margin-top: 23px;
		height: 44px;
		background-color: #3c3c3e;
		border: none;
		color: #fff;
	}

	@include placeholder {
		color: #fff;
	}

	#error_explanation {
		padding: 15px 15px;

		h2 {
			color: #fff;
			font-size: 20px;
		}
	}

	h4 {
		color: #fff;
		padding-top: 20px;
		padding-bottom: 15px;
	}

	hr {
		margin-top: 0px;
		border-top: 1px solid #3c3c3e;
	}

	em {
		color: #757575;
	}

	p {
		padding-top: 16px;
		margin-bottom: 0px;
		color: #a5a5a5;
	}

	label {
		color: #808080;
		padding-top: 20px;
		padding-left: 10px;
		font-weight: 400;
	}

	.btn {
		background-color: #23a55a;
		border-color: #23a55a;
		background-image: none;
		box-shadow: none;
		color: #fff;
		text-shadow: none;
		width: 160px;
		height: 40px;
		border-radius: 35px;
		font-size: 11px;
		margin: 20px 0;
	}

	.login-confirm {
		color: #a5a5a5;
		padding: 10px 0;
		margin-bottom: 30px;
		a {
			color: #a5a5a5;
			display: inline-block;
		}
	}
}
