//Typography//

@font-face {
    font-family: avantgardemditc-bold;
<<<<<<< HEAD
    src: url(avantgardemditc-bold.ttf);
=======
    src: asset-url("avantgardemditc-bold.ttf");
>>>>>>> 5013cca9bcdb6dff02771e45ca37334b3be638d5
}

